div{
    background-color: black;
    text-align: center;
    color: yellow;
}

#char{
    background-color: black;
    text-align: center;
    color: orange;
}

#squirtle{
    background-color: black;
    text-align: center;
    color: aqua;
}

body{
    background-color: blue;
}