div{
    background-color: black;
    text-align: center;
    color: yellow;
}

#char{
    background-color: black;
    text-align: center;
    color: orange;
}

#squirtle{
    background-color: black;
    text-align: center;
    color: aqua;
}
#cubone{
    background-color: black;
    text-align: center;
    color: burlywood;
}

#bulbasaur{
    background-color: black;
    text-align: center;
    color: green;
}

#giratina{
    background-color: black;
    text-align: center;
    color: red;
}

body{
    background-color: blue;
}